/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
  background-color: #edf2f4;
}

h1 {
  color: #ef233c;
}

hr {
  width: 96%;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
